// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts .col-sm-4 {
  margin-top: 10px;
}

#article_title {
  width: 70%;
}

#article_edit, #article_destroy, #article_date {
  width: 10%;
}

.article_index {
  max-width: 600px;
}

#article_tr td{
  vertical-align: middle;
}